*{
    margin: 0; 
    box-sizing: border-box;
}



























.ex2{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
      
}


.ex21 input {
    width: 446px;
height: 56px;
border-radius: 15px 0px 0px 15px ;
background-color: #ffffff;
border: 1px solid #c8c8c8;

}
/*.ex21 input::placeholder{
    font-size: 18px;
line-height: 18px;
color: #848484;
font-family: "Helvetica Neue";
padding: 42px 0px 16px 26px;
}*/

.ex22 button{
    width: 141px;
height: 56px;
border-radius: 0px 15px 15px 0px;
background-color: #2ecc71 !important;
border: none;


}
.ex22 button a{
    font-size: 22px;
line-height: 18px;
color: #ffffff;
font-weight: 700;
font-family: "Raleway";
text-decoration: none;
}